/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0f0;
    color: #333;
}

header {
    background-color: #ff4757;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    text-align: center;
}

button {
    background-color: #e94f66;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4757;
}

.youtuber-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.youtuber-card {
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.youtuber-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #2f3542;
    color: #fff;
    padding: 20px;
    text-align: center;
}